<%- include('assets/partial/header2'); %>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Questions Content</h5>
                                            <p class="m-b-0">Contains the topics and their corresponding questions</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb-title">
                                            <li class="breadcrumb-item">
                                                <a href="/admin"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/admin/bs-basic-table">Forms &amp; Tables</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/admin/bs-basic-table">Basic Tables</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('assets/partial/loader'); %>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <!-- Basic table card start -->
                                       
                           
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Data Table</h5>
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                                        <li><i class="fa fa-trash close-card"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <form id="delavo">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Topics</th>
                                                                <th>Questions</th>
                                                                <th style="display: none;">Link</th>
                                                               
                                                                <th>Approval</th>
                                                                
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                     
                                                        <% for(var i=0;i< docum.length;i++){ if(docum[i].approve==true){%>
                                                            
                                                            <tr>
                                                               
                                                               <th scope="row"><%= docum[i].topic.toUpperCase() %></th>
                                                               <td class="valuable"><%= docum[i].subtopic %></td>
                                                                <td class="valuable"  style="display: none;"><%= docum[i].link %></td>
                                                                <td class="valuable">Approved!!!</td>
                                                                <td style="margin-left: 100px;color: black;border: none;"><button>Delete</button></td>
                                                            
                                                            </tr>
                                                            <%} else{ %>
                                                                <tr>
                                                                    <th scope="row"><%= docum[i].topic.toUpperCase() %></th>
                                                                    <td class="valuable"><%= docum[i].subtopic %></td>
                                                                    <td class="valuable"  style="display: none;"><%= docum[i].link %></td>
                                                                    <td style="margin-left: 100px;color: black;border: none;"><button >Approve</button></td>
                                                                    <td style="margin-left: 100px;color: black;border: none;"><button>Delete</button></td>
                                                                </tr>
                                                                <%}}%>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <form id="addinger" class="form-material">
                                                <div class="form-group form-default form-static-label">
                                                    <input id="topicser"type="text" name="footer-email" class="form-control" placeholder="Enter Topic Name" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label"></label>
                                                </div>
                                                <div class="form-group form-default form-static-label">
                                                    <input id="subtopicser"type="text" name="footer-email" class="form-control" placeholder="Enter Question" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label"></label>
                                                </div>
                                                <div class="form-group form-default form-static-label">
                                                    <input id="link"type="text" name="footer-email" class="form-control" placeholder="Enter Link" required="">
                                                    <span class="form-bar"></span>
                                                    <label class="float-label"></label>
                                                </div>
                                                
                                                <button class="button-success pure-button">ADD</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const form =document.querySelector("#addinger");
        form.addEventListener('submit',async (e)=>{
       
            const topic=document.querySelector('#topicser').value;
            const subtopic=document.querySelector('#subtopicser').value;
            const link=document.querySelector('#link').value;
            const request="add";
            try{
            //adds data to the corresponding user data
            const res=await fetch('/admin/bs-basic-table',{
                method:"POST",
                body:JSON.stringify({request,topic,subtopic,link}),
                headers:{"Content-Type":"application/json"}
            });
           // const topic_name=document.querySelector('#valuable').value;
            location.assign('/admin/bs-basic-table');
            }
            catch(err)
            {
                console.log(err);
            }
        });

        //one more for deleting elements
        const form2 =document.querySelector("#delavo");
        form2.addEventListener('click',async (e)=>{
          
            const subtopic=e.target.parentElement.parentElement.childNodes[3].textContent;
            const topic=e.target.parentElement.parentElement.childNodes[1].textContent;
            const link=e.target.parentElement.parentElement.childNodes[5].textContent;
            const type=e.target.textContent;
            var request="";
            if(type=="Approve")
            request="approve";
            else if(type=="Delete")
            request="delete";
            console.log(request);
            try{
            //adds data to the corresponding user data
            const res=await fetch('/admin/bs-basic-table',{
                method:"POST",
                body:JSON.stringify({request,topic,subtopic,link}),
                headers:{"Content-Type":"application/json"}
            });
            //location.assign('/admin/bs-basic-table');
            }
            catch(err)
            {
                console.log(err);
            }
        });
    </script>
    <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- waves js -->
    <script src="/assets/pages/waves/js/waves.min.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/assets/js/modernizr/modernizr.js "></script>
    <!-- Custom js -->
    <script src="/assets/js/pcoded.min.js"></script>
    <script src="/assets/js/vertical-layout.min.js "></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
</body>

</html>
