<%- include('assets/partial/header2'); %>
<!--Second nav bar ending ------------------------------------------------------------>
                  <div class="pcoded-content">
                      <!-- Page-header start -->
                      <div class="page-header">
                          <div class="page-block">
                              <div class="row align-items-center">
                                  <div class="col-md-8">
                                      <div class="page-header-title">
                                          <h5 class="m-b-10">Dashboard</h5>
                                          <p class="m-b-0">Welcome <%=admin_user.email %></p>
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <ul class="breadcrumb-title">
                                          <li class="breadcrumb-item">
                                              <a href="/admin"> <i class="fa fa-home"></i> </a>
                                          </li>
                                          <li class="breadcrumb-item"><a href="/admin">Dashboard</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <%- include('assets/partial/loader'); %>
                      <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <!-- task, page, download counter  start -->
                                     <div class="col-xl-3 col-md-6">
                                         <a href='/admin/form-elements-component'>
                                                <div class="card">

                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col-8">
                                                                <h4 class="text-c-purple">Add Main Topics</h4>
                                                                <h6 class="text-muted m-b-0">No. of Main Topics: <%= db_user.length %></h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <i class="fa fa-bar-chart f-28"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-footer bg-c-purple">
                                                        <div class="row align-items-center">
                                                            <div class="col-9">
                                                                <p class="text-white m-b-0">Topics</p>
                                                            </div>
                                                            <div class="col-3 text-right">
                                                                <i class="fa fa-line-chart text-white f-16"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                </a>
                                            </div>
                                        


                                            <%var cnt1=0;%>
                                            <% for(var i=0;i< docum.length;i++){if(docum[i].approve==true){cnt1++;}}%>
                                            <% var left_out=docum.length-cnt1 %>
                                            <div class="col-xl-3 col-md-6">
                                                <a href="/admin/bs-basic-table">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col-8">
                                                                <h4 class="text-c-green">Add Questions</h4>
                                                                <h6 class="text-muted m-b-0">No. of approved Questions: <%= docum.length %></h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <i class="fa fa-file-text-o f-28"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer bg-c-green">
                                                        <div class="row align-items-center">
                                                            <div class="col-9">
                                                                <p class="text-white m-b-0">Questions</p>
                                                            </div>
                                                            <div class="col-3 text-right">
                                                                <i class="fa fa-line-chart text-white f-16"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>





                                            <div class="col-xl-3 col-md-6">
                                                <a href="/admin/company">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col-8">
                                                                <h4 class="text-c-red">Add Company</h4>
                                                                <h6 class="text-muted m-b-0">No. of Companies: <%= com.length %></h6>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <i class="fa fa-calendar-check-o f-28"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer bg-c-red">
                                                        <div class="row align-items-center">
                                                            <div class="col-9">
                                                                <p class="text-white m-b-0">Company</p>
                                                            </div>
                                                            <div class="col-3 text-right">
                                                                <i class="fa fa-line-chart text-white f-16"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
<%var cnt=0;%>
<% for(var i=0;i< sen.length;i++){if(sen[i].approve==true){cnt++;}}%>
<% var left=sen.length-cnt %>
                                            <div class="col-xl-3 col-md-6">
                                                <a href="/admin/senior">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="row align-items-center">
                                                            <div class="col-8">
                                                                <h4 class="text-c-blue">Add Experience</h4>
                                                                <h6 class="text-muted m-b-0">No.of approved Experience: <%= cnt %></h6>
                                                               
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <i class="fa fa-hand-o-down f-28"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer bg-c-blue">
                                                        <div class="row align-items-center">
                                                            <div class="col-9">
                                                                <p class="text-white m-b-0">Experience</p>
                                                            </div>
                                                            <div class="col-3 text-right">
                                                                <i class="fa fa-line-chart text-white f-16"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                            <!-- task, page, download counter  end -->


                                            
                                            
                                         

                                       
                                            <!--  project and team member end -->
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <script type="text/javascript" src="/assets/js/jquery/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/js/jquery-ui/jquery-ui.min.js "></script>
            <script type="text/javascript" src="/assets/js/popper.js/popper.min.js"></script>
            <script type="text/javascript" src="/assets/js/bootstrap/js/bootstrap.min.js "></script>
            <script type="text/javascript" src="/assets/pages/widget/excanvas.js "></script>
            <!-- waves js -->
            <script src="/assets/pages/waves/js/waves.min.js"></script>
            <!-- jquery slimscroll js -->
            <script type="text/javascript" src="/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
            <!-- modernizr js -->
            <script type="text/javascript" src="/assets/js/modernizr/modernizr.js "></script>
            <!-- slimscroll js -->
            <script type="text/javascript" src="/assets/js/SmoothScroll.js"></script>
            <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
            <!-- Chart js -->
            <script type="text/javascript" src="/assets/js/chart.js/Chart.js"></script>
            <!-- amchart js -->
            <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
            <script src="/assets/pages/widget/amchart/gauge.js"></script>
            <script src="/assets/pages/widget/amchart/serial.js"></script>
            <script src="/assets/pages/widget/amchart/light.js"></script>
            <script src="/assets/pages/widget/amchart/pie.min.js"></script>
            <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
            <!-- menu js -->
            <script src="/assets/js/pcoded.min.js"></script>
            <script src="/assets/js/vertical-layout.min.js "></script>
            <!-- custom js -->
            <script type="text/javascript" src="/assets/pages/dashboard/custom-dashboard.js"></script>
            <script type="text/javascript" src="/assets/js/script.js "></script>
            </body>
            </html>
            